openapi: 3.2.0
info:
  title: Greif WordPress REST API (wp/v2) Font Families API
  version: wp/v2
  description: The WordPress REST API namespace `wp/v2` as served by Greif at https://www.greif.com/wp-json/.
  contact:
    name: Greif
    url: https://www.greif.com/contact/
  termsOfService: https://www.greif.com/terms-and-conditions/
servers:
- url: https://www.greif.com/wp-json
  description: Greif corporate site WordPress REST API
tags:
- name: font families
paths:
  /wp/v2/font-families:
    get:
      operationId: getWpV2FontFamilies
      summary: GET /wp/v2/font-families
      tags:
      - font families
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: Maximum number of items to be returned in result set.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - id
          - include
          default: id
        description: Sort collection by post attribute.
      - name: slug
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Limit result set to posts with one or more specific slugs.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
            X-Robots-Tag:
              description: noindex — observed on every wp/v2 response from www.greif.com
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden / rest_cannot_access — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: createWpV2FontFamilies
      summary: POST /wp/v2/font-families
      tags:
      - font families
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                theme_json_version:
                  type: integer
                  default: 3
                  description: Version of the theme.json schema used for the typography settings.
                font_family_settings:
                  type: string
                  description: font-family declaration in theme.json format, encoded as a string.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
            X-Robots-Tag:
              description: noindex — observed on every wp/v2 response from www.greif.com
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden / rest_cannot_access — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/font-families/{font_family_id}/font-faces:
    get:
      operationId: getWpV2FontFamiliesByFontFamilyIdFontFaces
      summary: GET /wp/v2/font-families/{font_family_id}/font-faces
      tags:
      - font families
      parameters:
      - name: font_family_id
        in: path
        required: true
        schema:
          type: string
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: Maximum number of items to be returned in result set.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: search_semantics
        in: query
        required: false
        schema:
          type: string
          enum:
          - exact
        description: How to interpret the search input.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
        description: Offset the result set by a specific number of items.
      - name: order
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        required: false
        schema:
          type: string
          enum:
          - id
          - include
          default: id
        description: Sort collection by post attribute.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
            X-Robots-Tag:
              description: noindex — observed on every wp/v2 response from www.greif.com
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden / rest_cannot_access — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: createWpV2FontFamiliesByFontFamilyIdFontFaces
      summary: POST /wp/v2/font-families/{font_family_id}/font-faces
      tags:
      - font families
      parameters:
      - name: font_family_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                theme_json_version:
                  type: integer
                  default: 3
                  description: Version of the theme.json schema used for the typography settings.
                font_face_settings:
                  type: string
                  description: font-face declaration in theme.json format, encoded as a string.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
            X-Robots-Tag:
              description: noindex — observed on every wp/v2 response from www.greif.com
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden / rest_cannot_access — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/font-families/{font_family_id}/font-faces/{id}:
    get:
      operationId: getWpV2FontFamiliesByFontFamilyIdFontFacesById
      summary: GET /wp/v2/font-families/{font_family_id}/font-faces/{id}
      tags:
      - font families
      parameters:
      - name: font_family_id
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
            X-Robots-Tag:
              description: noindex — observed on every wp/v2 response from www.greif.com
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden / rest_cannot_access — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    delete:
      operationId: deleteWpV2FontFamiliesByFontFamilyIdFontFacesById
      summary: DELETE /wp/v2/font-families/{font_family_id}/font-faces/{id}
      tags:
      - font families
      parameters:
      - name: font_family_id
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to bypass Trash and force deletion.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
            X-Robots-Tag:
              description: noindex — observed on every wp/v2 response from www.greif.com
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden / rest_cannot_access — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/font-families/{id}:
    get:
      operationId: getWpV2FontFamiliesById
      summary: GET /wp/v2/font-families/{id}
      tags:
      - font families
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
            X-Robots-Tag:
              description: noindex — observed on every wp/v2 response from www.greif.com
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden / rest_cannot_access — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    post:
      operationId: createWpV2FontFamiliesById
      summary: POST /wp/v2/font-families/{id}
      tags:
      - font families
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                theme_json_version:
                  type: integer
                  default: 3
                  description: Version of the theme.json schema used for the typography settings.
                font_family_settings:
                  type: string
                  description: font-family declaration in theme.json format, encoded as a string.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
            X-Robots-Tag:
              description: noindex — observed on every wp/v2 response from www.greif.com
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden / rest_cannot_access — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    put:
      operationId: replaceWpV2FontFamiliesById
      summary: PUT /wp/v2/font-families/{id}
      tags:
      - font families
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                theme_json_version:
                  type: integer
                  default: 3
                  description: Version of the theme.json schema used for the typography settings.
                font_family_settings:
                  type: string
                  description: font-family declaration in theme.json format, encoded as a string.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
            X-Robots-Tag:
              description: noindex — observed on every wp/v2 response from www.greif.com
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden / rest_cannot_access — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    patch:
      operationId: updateWpV2FontFamiliesById
      summary: PATCH /wp/v2/font-families/{id}
      tags:
      - font families
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                theme_json_version:
                  type: integer
                  default: 3
                  description: Version of the theme.json schema used for the typography settings.
                font_family_settings:
                  type: string
                  description: font-family declaration in theme.json format, encoded as a string.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
            X-Robots-Tag:
              description: noindex — observed on every wp/v2 response from www.greif.com
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden / rest_cannot_access — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
    delete:
      operationId: deleteWpV2FontFamiliesById
      summary: DELETE /wp/v2/font-families/{id}
      tags:
      - font families
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: force
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to bypass Trash and force deletion.
      responses:
        '200':
          description: Success
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes)
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages (collection routes)
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev)
              schema:
                type: string
            X-Robots-Tag:
              description: noindex — observed on every wp/v2 response from www.greif.com
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: rest_invalid_param — a parameter failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: rest_forbidden / rest_cannot_access — authentication required for this route
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '403':
          description: rest_forbidden / rest_cannot_* — authenticated but not permitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: rest_no_route / rest_post_invalid_id — route or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
components:
  schemas:
    WPError:
      type: object
      description: The WordPress REST error envelope, observed verbatim on https://www.greif.com/wp-json/wp/v2/settings (HTTP 401, 2026-09-12). Not RFC 9457 problem+json.
      properties:
        code:
          type: string
          examples:
          - rest_forbidden
        message:
          type: string
          examples:
          - Sorry, you are not allowed to do that.
        data:
          type: object
          properties:
            status:
              type: integer
              examples:
              - 401
      required:
      - code
      - message
      - data
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: WordPress application passwords, advertised by the site's own discovery document at https://www.greif.com/wp-json/ (authentication.application-passwords.endpoints.authorization = https://www.greif.com/wp-admin/authorize-application.php). Issued only to WordPress user accounts on the Greif site; not available to third parties.
    cookieNonce:
      type: apiKey
      in: header
      name: X-WP-Nonce
      description: WordPress logged-in cookie plus an X-WP-Nonce header — the in-browser authentication path for the site's own editors.
externalDocs:
  description: Upstream WordPress REST API handbook (not authored by Greif)
  url: https://developer.wordpress.org/rest-api/
x-generated-from: https://www.greif.com/wp-json/ (WordPress REST route-discovery document, HTTP 200, 2026-09-12)
x-generated-by: API Evangelist enrichment pipeline — mechanical transform of the provider-served route index; no hand-authored operations
